/*MAIN*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* WIDGET CONTAINER*/
.container {
  width: 564px;
  height: 436px;
  display: inline-flex;
  flex-direction: column;
}

.widget {
  padding: 20px 26px 20px 22px;
}

/* TEXT*/
.title {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 70px;
  line-height: 1;
  letter-spacing: -3.5px;
  margin-top: -10px;
  margin-left: -6px;
}

.details {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  font-size: 16px;
  margin-top: -16px;
  margin-left: 3px;
}

.city {
  margin-left: 25px;
}

/* BUTTON*/
.btn-see-another {
  border: solid 1px black;
  padding: 13px 26px 13px 26px;
  border-radius: 25px;
  margin-top: 15px;
  margin-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: white;
  text-align: center;
  justify-content: center;
}

.refresh {
  width: 18px;
  height: 12px;
}

/* FOOTER*/
footer {
  justify-content: center;
  text-align: center;
  display: inline;
  font-family: monospace;
  color: black;
}
